[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
pandas = "*"
psycopg2 = "*"
google = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
blue = "*"
isort = "*"
taskipy = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.4"

